html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
}
header,h1,h2,h3,h4,p,a, .item, .paragraph {
  font-family: 'Roboto', sans-serif;
}
header {
  padding: 20px;
  text-align: center;
  line-height: 1em;
  background-color: #000;
  color: #fff;
}
#checkBox {
  margin: 20px;
  font-size: 2em;
  line-height: 1.2em;
}
.item {
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 10px 20px;
  background: linear-gradient(to bottom right, #eecda3,#ef629f);
}
.paragraph {
  font-size: 1em;
  line-height: 1.2em;
  padding: 10px 20px;
}
