html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body{
  background-image: url('../images/tic-tac-toe.png');
  background-repeat:repeat;
}

.images {
  display:flex;
  flex-wrap:nowrap;
  overflow: hidden;
  width: 100%;
}
.images img {
  width: 100%;
}
.left-image, .right-image {
  width: 50%;
  border: 5px solid blue;
  padding: 5%;
}
