html{
  background: linear-gradient(-15deg, #2A2140, #000);
  height: 100%;
}
h1, h2, a {
  color: #fff;
  font-family: 'Ultra', serif;
}
h1 {
  font-size: 30px;
  margin-top: 100px;
  text-align: center;
}
h2 {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.examples a {
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
}
.stars {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
  background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -1;
}
.examples {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  margin-top: 40px;
}
.flex, .grid, .bootstrap3, .bootstrap4 {
  background-color: #000;
  height: 100px;
  width: 100%;
  margin: 10px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
}
