
html, body, h1, h2, p, ul{
 margin: 0;
 padding: 0;
}

html, body{
  width: 100%;
}

/* challenge 1 */

#wrap {
  margin:30px 0;
  background-color: #545649;
  overflow: hidden;
  position: relative;
}
header {
  background-color: yellow;
  text-align: right;
  height: 45px;
  margin:0;
}
nav {
  background-color: green;
  height: 38px;
}
nav ul {
  margin: 0;
  color: white;
  padding: 5px;
  text-align: center;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}
nav li {
  list-style-type: none;
  background-color: black;
  display: inline;
  padding: 10px 25px 10px 55px;
  margin: 1;
}
h1 {
  font-size: 2.3em;
}

aside {
  background: url(http://www.literarygenius.info/images/william-shakespeare.jpg) no-repeat center;
  position:absolute;
  right:0;
  background-color: white;
  background-size: 100%;
}
aside ul {
  margin: 0 40px;
  height: 500px;
}
#content {
  width: 80%;
}

#content li {
  list-style-type: none;
  text-align: center;
}

.footer {
  background-color: green;
  height: 60px;
  width: 100%;
  bottom: 0;
}
.copyright {
  padding: 20px;
}

/* challenge 2 */

#container {
  overflow: hidden;
}
.logos {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  margin: 40px;
}

.hover, .active, .focus{
  border: 5px solid #000;
  box-sizing: border-box;
  width: 30%;
  height: 30%;
  margin: 20px;
}

.hover:hover {
  border-radius: 100%;
}
.active:active, .active:focus {
  opacity: .3;
}

.focus:focus {
  -webkit filter:grayscale(100%);
  filter:grayscale(100%);
}
.bar {
  background-color: #999;
  height: 80px;
  width: 100%;
  margin: 30px 0;
  display: block;
  overflow: hidden;
}
.square {
  height: 60px;
  width: 60px;
  margin: 10px 0;
  background-color: blue;
  position: relative;
}

.square:focus {
  animation: squarefocus 5s normal 1;
}
.square:active {
  animation: squareactive 5s normal infinite;
}

@keyframes squarefocus {
  0% {left:0;}
  50% {left: 100%;}
  100% {left: 0;}
}

@keyframes squareactive {
  0% {transform: rotate(0deg); background-color: red;}
  25% {transform: rotate(90deg); background-color: red;}
  50% {transform: rotate(180deg); background-color: red;}
  75% {transform: rotate(270deg); background-color: red;}
  100% {transform: rotate(360deg); background-color: red;}
}

/* footer navigation universal style */
footer {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right:0;
  width: 100%;
  height: 80px;
  background-color: #000;
  margin: 0;
}
footer h2 a{
  color: #fff;
  font-size: 20px;
  line-height: 80px;
  text-decoration: none;
}
footer h2 {
  text-align: center;
}
