/* Universal */

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--main-bg);
  overflow: scroll;
}

.page {
  margin: 0 auto;
  max-width: 960px;
}

/* Color Palette */

:root {
  /* colors */
  --primary: #bdbdbd;
  --primary-light: #efefef;
  --primary-dark: #8d8d8d;
  --secondary: #7edeea;
  --secondary-light: #ffccbc;
  --secondary-light-hover: #dc9d89;
  --secondary-dark: #48acb8;
  --main-font: #424242;
  --light-font: #8d8d8d;
  --link-font: #48acb8;
  --main-bg: #fff;
  /* sizes */
  --base-columns: 200px 200px;
  --margin: 10px 10px;
  --margin-small: 10px 10px;
  --section-margin: 0 30px;
  --h1-font: 1.5em;
  --h1-lh: 1.25em;
  --h2-font: 1.3em;
  --h2-lh: 1.2em;
  --h3-font: 1.25em;
  --h3-lh: 1.5em;
  --p-font: 16px;
  --p-lh: 24px;
  --li-font: 1.2em;
  --li-lh: 1.3em;
  --icon-size: 1.3em;
  --header-h1: 1.1em;
  --header-lh: 2em;
}
@media screen and (min-width: 600px) {
  :root {
  --h1-font: 1.9em;
  --h1-lh: 1.6em;
  --h2-font: 1.6em;
  --h2-lh: 1.4em;
  --h3-font: 1.5em;
  --h3-lh: 1.5em;
  --p-font: 1em;
  --p-lh: 1.4em;
  }
  hr {
    padding: 0 4em;
  }
}


/* Font & Icons */

.material-icons {
  font-size: var(--icon-size);
  padding: 5px;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  color: var(--main-font);
  margin: var(--margin);
}

h4, p, li, a {
  font-family: 'Mukta Malar', sans-serif;
  color: var(--main-font);
  margin: var(--margin-small);
}

h1 {
  font-size: var(--h1-font);
  line-height: var(--h1-lh);
}

h2 {
  font-size: var(--h2-font);
  line-height: var(--h2-lh);
}

h3 {
  font-size: var(--h3-font);
  line-height: var(--h3-lh);
}

h4 {
  font-size: var(--h4-font);
  line-height: var(--h4-lh);
}

p {
  font-size: var(--p-font);
  line-height: var(--p-lh);
}

a {
  color: var(--link-font);
  text-decoration: none;
}

a:hover {
  text-decoration: underline
}

hr {
  display: block;
  margin: 3em 0;
  padding: 0 32px;
  height: .25rem;
  min-height: 1px;
  width: 100%;
  background-color: var(--secondary-dark);
}

/* Header */

header {
  display: none;
  background-color: var(--main-bg);
  padding: 0 20px;
  z-index: 100;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: none;
}
.menu-container {
  width: 960px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.noshadow {
  box-shadow: 0;
}
.shadow {
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, .26);
}

header h1 {
  font-size: var(--header-h1);
  line-height: var(--header-lh);
  margin: 0 0 0 5px;
  text-align: left;
  align-self: center;
}

.nav ul {
  text-decoration: none;
  list-style-type: none;
  display: none;
}

.nav ul li a {
  color: var(--light-font);
  font-size: var(--li-font);
  line-height: var(--li-lh);
}

/* mobile nav */

#mobile-nav-open {
  display: block;
  border-radius: 100%;
  transition: all 1s linear;
}

#mobile-nav-open:hover {
  background-color: var(--secondary-light);
}

aside {
  background: rgba(0, 0, 0, .55);
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
}

.mobile-drawer {
  background: #fff;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
  width: 280px;
  position: fixed;
  height: 100vh;
}

.mobile-drawer .logo {
  padding: 20px 10px;
}

.drawer-list {
  padding: 0 10px;
}

.drawer-list-item h2 a {
  text-transform: uppercase;
  color: var(--main-font);
  font-size: var(--p-font);
  margin: 0;
  text-decoration: none;
}

.drawer-list-item {
  margin: 25px 0;
}

.drawer-list-item:hover {
  border-left: 4px var(--secondary-light) solid;
}

.social {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  color: var(--secondary-light);
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  top: 5%;
}

.social-icons {
  font-size: 3em;
  padding: 10px;
}

.social-icons:hover {
  color: var(--secondary-light-hover);
}

@media screen and (min-width: 600px) {
  #mobile-nav-open {
    display: none;
  }
  .nav {
    margin: 0 auto;
  }
  .nav ul {
    display: flex;
  }
  .nav ul li a {
    text-transform: uppercase;
    color: var(--main-font);
    font-size: var(--p-font);
    margin: 0;
    text-decoration: none;
  }
  .nav ul li a:hover {
    border-bottom: 4px solid var(--secondary-light);
  }
}

/* Intro */

.content {
  display: block;
  position: relative;
  padding: 0 10px;
  top: 60px;
}

.intro-img {
  position: relative;
  margin: 40px 0 0 0;
  z-index: -1;
  overflow: hidden;
  left: 40%;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-image: url("../images/profile_icon.jpg");
  background-position: center;
  background-size:cover;
}

.intro h1 {
  margin: var(--margin);
  position: relative;
}

@media screen and (min-width: 600px) {
  .intro-img {
    margin: 0;
    top:0;
    left: 0;
    height: 400px;
    width: 100%;
    border-radius: 0 0 0 100%;
    background-image: url("../images/profile.jpg");
    background-position: center;
    background-size:cover;
  }
}

@media screen and (min-width: 960px) {
  .intro h1, .intro p {
    top: -100px;
    position: relative;
    width: 50%;
  }
  .intro hr {
    top: -100px;
    position: relative;
  }
}

/* Projects */

.img-container {
  max-height: 500px;
  overflow: hidden;
  margin: var(--margin);
}

.img-container img {
  z-index: -1;
  width: 100%;
}

.projects {
  display: grid;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .r-one .img-container {
    height: 300px;
  }
  .r-one .img-container img {
    margin: 0;
    position: relative;
    top: -100px;
  }
  .r-one {
    grid-row: 1/1;
    grid-column: 1/3;
  }
  .r-two {
    grid-row: 2/2;
    grid-column: 1/2;
  }
  .r-three {
    grid-row: 2/2;
    grid-column: 2/3;
  }
}

@media screen and (min-width: 960px) {
  .research, .design, .engineering, .about, .footer-text, footer {
    position: relative;
    top: -100px;
  }
  .r-one {
    grid-row: 1/3;
    grid-column: 1/2;
    margin: 0 20px 0 0;
  }
  .r-two {
    grid-row: 1/1;
    grid-column: 2/3;
  }
  .r-three {
    grid-row: 2/2;
    grid-column: 2/3;
  }
  .r-two .img-container {
    display: none;
  }
}

/* Design */

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
  margin: var(--margin);
}

.card1, .card2, .card3, .card4 {
  background-color: var(--main-bg);
  margin: 20px;
  width: 100%;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, .26);
}

.card-img-container {
  height: 200px;
  overflow: hidden;
}

.card1 img, .card2 img, .card3 img, .card4 img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.card1 p, .card2 p, .card3 p, .card4 p {
  display: block;
  padding: 0 0 20px 0;
}

iframe {
  width: 100%;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .design .card-container {
    flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .design .card1, .design .card2, .design .card3, .design .card4 {
    width: 46%;
    height: 350px;
    margin: 10px;
    overflow: hidden;
  }
  .card1 p, .card2 p, .card3 p, .card4 p, .card1 h3, .card2 h3, .card3 h3, .card4 h3  {
    padding: 0 10px;
  }
  .card-img-container {
    height: 150px;
    overflow: hidden;
  }
  .card1 img, .card2 img, .card3 img, .card4 img {
    display: block;
    min-width: 100%;
    margin: 0 auto;
  }
  .e-one {
    grid-row: 1/1;
    grid-column: 1/3;
  }
  .e-two {
    grid-row: 2/2;
    grid-column: 1/1;
  }
  .e-three {
    grid-row: 2/2;
    grid-column: 2/2;
  }
  iframe {
    width: 100%;
    padding: 10px;
    height: 300px;
  }
}
@media screen and (min-width: 960px) {
  .design .card1, .design .card2, .design .card3 {
    width: 30%;
  }
  .design .card4 {
    display: none;
  }
  .e-one {
    grid-row: 1/3;
    grid-column: 1/2;
    margin: 0 20px 0 0;
  }
  .e-two {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .e-three {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .e-two .img-container img {
    display: none;
  }
}

/* About  */

.image1, .image2, .image3 {
  margin: 1em;
  flex: 1 1 auto;
  width: 45%;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, .26);
}

.image1 img, .image2 img, .image3 img{
  width: 100%;
  min-height: 100%;
}

.about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
}

.about p a {
  margin: 0;
}


@media screen and (min-width: 600px) {
  .image1, .image2, .image3{
    height: 180px;
    width: 30%;
    margin: 10px;
    overflow: hidden;
  }
  .image1 img, .image2 img, .image3 img {
    min-width: 100%;
    min-height: 100%;
  }
}
@media screen and (min-width: 960px) {
  .image1, .image2, .image3 {
    height: 270px;
    width: 30%;
    margin: 10px;
    overflow: hidden;
  }
}

/* footer */

.footer-text {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-text h4 {
  text-transform: uppercase;
}

.footer-text p, .footer-text a {
  font-size: 15px;
  line-height: 20px;
}

.column1, .column2 {
  display: flex;
  padding: 0 10px;
  margin: 60px auto;
  text-align: left;
  flex-direction: column;
  justify-content: flex-start;
}

.column1 {
  width: 70%;
}

.column2 {
  width: 30%;
}

.column1 a, .column2 a {
  color: var(--light-font);
  margin: 0 10px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -0.1875rem 0.125rem var(--primary-light);
  height: 10rem;
}

/* copyright */

.profile-container {
  height: 6em;
  width: 6em;
  border-radius: 100%;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, .26);
  flex: 0 0 auto;
}

.profile-container img {
  width: 100%;
}

.copyright {
  color: var(--light-font);
  margin: 20px;
  right: 0;
}

@media screen and (min-width: 768px) {
  .footer-text {
    width: 50%;
    margin: 0 auto;
  }
  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .copyright, .profile-container {
    margin: 40px;
  }
}
