html {
  height: 100%;
}

body {
  background-color: #fff;
  overflow: scroll;
  position: absolute;
  top: 0;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  color: #424242;
}
h3, p, li, a {
  font-family: 'Mukta Malar', sans-serif;
  color: #414549;
}
h1 {
  font-size: 2.25em;
  line-height: 2.75em;
  margin: 10px 20px;
}
h2 {
  font-size: 24px;
  line-height: 32px;
  margin: 10px 20px;
}
h3 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 20px 20px 10px 20px;
  font-style: italic;
}
p {
  font-size: 14px;
  line-height: 20px;
  margin: 10px 20px;
  font-color: #424242;
}
a {
  font-size: .875em;
  line-height: 1.3em;
  color: #00A5FC;
  margin: 10px 20px;
  text-decoration: none;
  text-transform: capitalize;
}
a:hover {
  text-decoration: underline
}

header {
  background-color: #fff;
  height: 4rem;
  width: 100%;
  padding: 20px;
  position: fixed;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow .2s ease-in-out;
  transform: translateY(0);
  box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);
}
.svg-inline--fa.fa-w-14 {
  margin: 0 20px;
  height: 1em;
  width: 1.2em;
}
header h1 {
  font-size: 1.3em;
  margin: 0 20px;
  text-align: center;
  align-self: center;
}
.nav ul{
  text-decoration: none;
  list-style-type: none;
  display: none;
}

/* @media (min-width: 480px){
  .nav ul{
    display: inline-flex;
  }
  .nav ul li{
    margin: 0 20px;
  }
} */
.home-photo {
  display: block;
  z-index: -1;
  width: 100%;
  margin: 40px 0;
}
.content {
  display: block;
}
/* #E5585B */
hr {
  display: block;
  margin: 4em 0;
  height: .25rem;
  background-color:#00A5FC;
  width: 100%;
  border-top: 1px solid #fff;
  padding: 0 32px;
  min-height: 1px;
}
.section {
  display: block;
  margin: 0 30px;
}
.img-container img{
  display: block;
  z-index: -1;
  margin: 40px auto;
  max-width: 100%;
  max-height: 500px;
}
.temp-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  overflow: hidden;
}
.temp-container a {
  display: block;
}

.temp1, .temp2, .temp3, .temp4 {
  background-color: #f1f1f1;
  margin: 1em;
  padding: 5px;
  flex: 1 1 auto;
  width: 45%;
  box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);
}
.temp1 img, .temp2 img, .temp3 img, .temp4 img{
  display: block;
  margin: 0 auto;
  height: 200px;
}
.temp1 p, .temp2 p, .temp3 p, .temp4 p {
  display: block;
}
.image1, .image2, .image3, .image4, .image5, .image6 {
  margin: 1em;
  flex: 1 1 auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);
}
.image1 img, .image2 img, .image3 img, .image4 img, .image5 img, .image6 img {
  width: 100%;
  min-height: 100%;
}
.footer-text {
  display: flex;
}
.footer-text a {
  color: #414549;
}
.column1, .column2, .column3 {
  flex: 1 1 auto;
  margin: 30px;
}
.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  box-shadow: 0 -0.1875rem 0.125rem #efefef;
  height: 10rem;
}
.profile-container {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
  margin: 40px;
  box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);
  flex: 0 0 auto;
}
.profile-container img {
  width: 100%;
}
.copyright {
  color: #5f6368;
  flex: 0 0 auto;
  margin: 40px;
}
