* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  background-image: url("../images/about.png");
  background-repeat: no-repeat;
  width: 100%;
  overflow: scroll;

}
.box {
  background-color: #fff;
  opacity: .03;
  width: 100%;
  height: 20%;
}
