html, body, p {
  margin: 0;
  padding: 0;
  height: 100%;
}
h1, h2, h3, h4, p, a {
  font-family: 'Josefin Sans', sans-serif;
}
nav {
  padding: 10px 20px;
  background-color: #000;
  height: 30px;
}
nav a {
  padding: 0 10px;
  color: #fff;
  text-decoration: none;
  line-height: 30px;
}
p {
  display: inline-block;
}
h1 {
  text-align: right;
  padding: 0 40px;
}
footer h2 a{
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}
footer h2 {
  text-align: center;
}

.content {
  width: 60%;
  margin: 40px auto;
}
.images {
  display: inline-block;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}
.image1, .image2, .image3 {
  float: left;
  height: 300px;
  width: 33.3%;
  transition: transform 1s;
}
.images img:hover {
  float:none;
  transform: scale(1.5);
  height: 100%;
}
form {
  margin: 0 auto;
  text-align: center;
}
input {
  margin: 10px;
}
input#name, input#date {
  border: 1px solid #999;
  height: 35px;
  width: 210px;
  margin: 10px;
  display: inline-block;
}
.poptart-choice {
  display: inline-block;
  padding: 20px;
}
.chip-choice {
  display: inline-block;
  padding: 20px;
}
button {
  display: block;
  background-color: red;
  color: #fff;
  margin: 20px auto;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 1em;
}
iframe {
  border: none;
  margin: 0;
  width: 100%;
  height: 400px;
  margin-bottom: -4px;
}
footer {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right:0;
  width: 100%;
  background-color: #000;
  margin: 0;
}
